@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;

}

#root, html, body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}